@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Logo{
  text-align: center;
  font-size: 30px;
  font-family: 'Blackboard Ultra', sans-serif;
  color: white;
  padding-top: 10px;
}
.btn{
  display: flex;
  align-items: flex-end;  
  width: 380px;
  height: 100px;
  padding-top: 20px;
  flex-direction: column;
}

.btnAdicionar{
  background-color: red;
  width: 15px;
  height: 20px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 8px;
}

/* .adionar:hover{
  background-color: rgb(226, 43, 156);
  color: black;
} */

.btnDiminuir{
  background-color: red;
  width: 15px;
  height: 20px;
  font-size: 15px;
  border-radius: 5px;
}

.descricao{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  font-size: 20px;
}

.descricaoRefeicao{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
}

.nomeComida{
  margin-top: 70px;
}

.condimentos{
  margin-top: 80px;
}



